@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@reference "tailwindcss/theme.css";



.html{
  scroll-behavior: smooth;
}


.swiper-button-next{
    @apply bg-white p-5 rounded-full z-50 shadow-md text-lg 
 }
 
.swiper-slide  {
  @apply flex bg-white justify-center items-center rounded-lg shadow 
}

.swiper-wrapper {
  @apply py-4 
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px !important;
}
.swiper-button-prev {
  display: none !important;
}

